@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto);.nav {
  display: flex;
  justify-content: space-between;
  background-color: #333333; }
  .nav ul {
    display: flex;
    list-style: none;
    color: #ffffff; }
    .nav ul li {
      font-family: "Montserrat";
      font-size: 20px;
      margin-right: 20px; }

.header {
  background: url(./images/Becentral.jpg);
  opacity: 0.9;
  display: flex;
  justify-content: space-between; }
  .header h1 {
    font-size: 50px;
    font-family: "Roboto";
    background: #000; }

body {
  font-size: 20px;
  color: white;
  background: url(./images/Becentral.jpg); }
