@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto);* {
  padding: 0;
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333333;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #ffffff;
}

.nav ul li {
  font-family: "Montserrat";
  font-size: 20px;
  margin-right: 20px;
}

* {
  padding: 0;
  margin: 0;
}

.nav {
  padding: 10px;
}

.nav img {
  padding-left: 20px;
}

.header {
  height: 900px;
  width: 1440px;
  background-image: url("/../../images/Becentral.jpg");
}

.header h1 {
  font-size: 50px;
  font-family: "Roboto";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header button {
  width: 202px;
  height: 54px;
  background-color: #00d991;
  color: #fff;
  border: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/../../images/Becentral");
}

body footer {
  width: 100%;
  height: 291px;
  position: absolute;
  bottom: 0;
  background: #333333;
}

body footer .content {
  margin: 0 auto;
  width: 140px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 40px;
}

body footer .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

body footer .content ul li {
  list-style: none;
}

body footer .content .copyright {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 13px;
}

