@import "../modules/variables";
@import "../base/base";

.cofunders_page {
  .bg {
    width: 893px;
    height: 384px;
    background: $ligthgrey;
    position: absolute;
    left: 200px;
    bottom: 0;
    margin-top: 0;
    z-index: -2;
    top: 0;
  }

  .description {
    position: relative;
    line-height: $txt-lh;
    left: 45%;
    padding: 10px;

    p {
      max-width: 675px;
      width: 50%;
      font-family: $text-font;
    }
  }

  header,
  section {
    margin-bottom: 100px;
  }

  .cofunders {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-gap: 25px;
    justify-content: space-between;

    .img-block-1 {
      margin-right: 10px;
      display: inline-block;
      position: relative;
      margin-bottom: 20px;
      max-width: 250px;
      overflow: hidden;
      width: 100%;
    }

    .img {
      // height: 100%;

      img {
        width: 100%;
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
      }

      .more {
        color: $title;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        z-index: 5;

        a {
          text-decoration: none;
          color: $title;
        }
      }
    }

    .text {
      background: #0F001F;
      height: 80px;
      color: white;
      width: 100%;
      text-transform: uppercase;

      p {
        padding: 10px;
        font-family: $nav-font;
        font-size: 13px;
      }
    }
  }
}

.amb {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  grid-gap: 20px;

  .img-block {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    max-width: 250px;
    overflow: hidden;
    width: 100%;

    .img {
      width: 100%;

      img {
        width: 100%;
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
      }

      .more {
        color: $title;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        z-index: 5;

        a {
          text-decoration: none;
          color: #00d991;
        }
      }
    }

    .text {
      background: #0F001F;
      height: 80px;
      color: white;
      text-transform: uppercase;

      p {
        padding: 10px;
        font-family: $nav-font;
        font-size: 13px;
      }
    }
  }
}



  hr {
    background: $title;
    height: 5px;
    width: 50px;
    margin-right: 25px;
    border: none;
    display: block;
  }


.titles {
  left: 50%;
  position: relative;
  width: 400px;
  margin-bottom: 50px;
  text-align: center;
  transform: translateX(-50%);
  font-family: $text-font;
  display: flex;
  align-items: center;

  hr {
    background: $title;
    height: 5px;
    width: 50px;
    margin-right: 25px;
    border: none;
    display: block;
  }

  h2 {
    font-size: $title-size;
    display: block;
    color: $title;
  }
}
@media screen and(max-width:440px) {

.description{
  left: 0 !important;
p{
  min-width: 300px;
  padding: 20px;

}
.titles{
  margin-bottom: 10px;
}
  }
  .img-block-1 {
  left: 20%;
  }
  .img-block{
  left: 20%;
}

}
