@import "../modules/variables";
@import "../base/base";

.community {
  .subTitle {
    @extend .title;
    z-index: 5;
  }
  .subTitle.desktop {
    display: none;
  }
  .section_title {
    @extend .section_title_style;
    display: none;
  }
}

@media (min-width: 768px) {
  .community {
    margin-top: -80px;
    .subTitle.mobile {
      display: none;
    }
    .container {
      display: flex;
      position: relative;
      justify-content: center;
      .subTitle {
        width: 380px;
        display: flex;
        position: absolute;
        top: 70px;
        margin-left: -80px;
      }
      .img_container {
        width: 50%;
        max-width: 475px;
        margin-top: 120px;
        position: relative;
        .bg {
          position: absolute;
          max-width: 500px;
          top: -50px;
          left: -30px;
          width: 100%;
          height: 90%;
          background: $ligthgrey;
          z-index: -5;
        }
        .img-subContainer {
          width: 100%;
          overflow: hidden;
          img {
            object-fit: cover;
            width: 480px;
          }
        }
      }
      .paragraphe {
        width: 50%;
        margin-left:20px;
        margin-top: 140px;
        max-width: 400px;
        .reg-paragraphe {
          margin-left: 10px;
        }
      }
    }
    .button{
      .animated-button{
        top: -120px;
        left: 150px;
      }
    }
  }
}
