.map{
    margin: 0 auto;

}

.formulaire{
	width: 440px;
	height: 515px;
	display: block;
	background-color: #fff;
	position: absolute;
	float: left;
	margin-left: -290px;
}

input{
	width: 295px;
	height: 30px;
	margin-bottom: 50px;
	border-radius: 0;
	border-color: #ccc;
	border-width: 0 0 2px 0;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.adress{
	width: 222px;
	height: 19px;
	font-size: 16px;
	color: #4f4f4f
}

.info{
	font-size: 16px;
	line-height: 30px;
	font-weight: 100;
}


.set-title{
	font-size: 28px;
	font-weight: 400;

}

form{
	margin-top: 60px;
}
.contact{
	margin-top: 150px;;
}