@import "../modules/variables";
@import "../base/base";

.contact {
  .section_title {
    @extend .section_title_style;
  }
  .container {
    display: flex;
    flex-direction: column;
    .subTitle {
      @extend .title;
      z-index: 5;
      display: block;
      margin: 0 auto;
    }
    .subContainer {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 900px;
      #map {
        width: 70%;
        height: 540px;
        position: absolute;
        right:0;
      }
      #info {
        border: 5px solid #f9f9f9;
        padding: 20px;
        margin-top: 20px;
        margin-left:20px;
        background: white;
        position: absolute;
        top: 0;
        width: 400px;
        font-family:Roboto,sans-serif;
        p{
          margin-bottom:40px;
        }
        .head{
          margin-bottom: 20px;
        }
        .bold{
          font-weight:bold;
          display: block;
          margin-bottom: 20px;
        }
        .green-txt{
          color: $title;
          text-transform: uppercase;
          display: block;
          font-weight:bold;
          margin-bottom: 16px;
        }
      }
    }
  }

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .join_us {
    .container {
      .subContainer {
        .item {

        }
      }
    }
  }
}

