@import "../modules/variables";
@import "../base/base";

.event {
  margin: 20px auto;
  .subTitle {
    @extend .title;
    z-index: 5;
    justify-content: center;
  }
  .desktop {
    display: none;
  }
  .section_title {
    @extend .section_title_style;
  }
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    #events-upcoming {
      margin: 0 auto;
      display: grid;
      font-family: $text-font;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      li {
        border-top: 4px solid $title;
        z-index: 10;
        background: #0F001F;
        color: white;
        margin-top: -5px;
        padding: 35px 15px 15px 15px;
        height: 160px;
        line-height:150%;
        .date {
          color: rgba(0, 217, 145, 0.8);
          margin-bottom: 16px;
          display: block;
          max-width: 200px;
        }
        .description {
          a {
            margin-top:20px;
            color: #E0E0E0;
          }
        }
        .summary {
          display: block;
          color: white;
          margin-bottom: 15px;
        }
      }
    }

  }
}

@media (min-width: 768px) {
  .event {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subTitle {
      justify-content: flex-start;
    }
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      #events-upcoming {
        display: grid;
        grid-template-columns: 330px 330px;
        grid-column-gap: 20px;
        list-style: none;
      }
    }
  }
}

@media (min-width: 980px) {
  .event {
    .container {
      #events-upcoming {
        grid-template-columns: 297px 297px 297px;
      }
    }
  }
}

