.form {
  width: 100%;
  padding-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :focus {
    outline: none;
  }

  .form a {
    outline: none;
  }

  .title {
    left: 20%;
    position: relative;
    width: 400px;
    margin-bottom: 50px;
    text-align: center;
    transform: translateX(-50%);
    font-family: $text-font;
    display: flex;
    align-items: center;

    hr {
      background: $title;
      height: 5px;
      width: 40px;
      border: none;
      display: block;
    }

    h2 {
      font-size: $title-size;
      display: block;
      color: $title;
    }
  }

  .container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;


    .form_contact {
      border: 1px solid;
      border-color: $title;
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;

      width: 400px;



      #first-group {
        display: grid;
        grid-template-columns: 129px 129px;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
      }

      #second-group {
        margin-top: 20px;
      }

      .form-group {
        margin: 0 auto;

      }

      h4 {
        font-size: 11.5px;
        font-family: "roboto";
        font-weight: 100;
        color: #757575;
        margin-bottom: 20px;
        width: 50px;
      }

      .checkbox {
        width: 100%;


        h4 {
          font-size: 11.5px;
          font-family: "roboto";
          color: #757575;
          width: 30%;
          border-bottom: 1px solid #cccccc;
        }

        .contain {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input[type="checkbox"] {
            height: 11px;
            width: 11px;
            border: none;
            width: 28px;
          }

          span {
            font-size: 10px;
            font-family: 'roboto';
            margin-left: 5px;
          }

          .form-group {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
          }
        }
      }
    }

    .send_msg {
      margin-top: 60px;
      margin: 0 auto;


      textarea {
        border: none;
        border-bottom: 1px solid $darkgrey;
        padding-bottom: 50px;
        width: 100%;
      }

      h4 {
        font-size: 11.5px;
        font-family: "roboto";
        color: #757575;
        border-bottom: 1px solid #cccccc;
        margin-top: 20px;
      }
    }

    .form-label {
      font-size: 12px;
      color: #5e9bfc;
      margin: 0;
      display: block;
      opacity: 1;
      -webkit-transition: 0.333s ease top, 0.333s ease opacity;
      transition: 0.333s ease top, 0.333s ease opacity;
    }

    .form-control {
      border-radius: 0;
      border-color: #ccc;
      border-width: 0 0 1px 0;
      border-style: none none solid none;
      box-shadow: none;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #5e9bfc;
    }

    .js-hide-label {
      opacity: 0;
    }

    .js-unhighlight-label {
      color: $title;
    }
  }
}
