/*
@import"../modules/variables.scss";
.modal{
  // display: none;

  position: fixed;
  top: 0%;
  left: 0%;
  background-color:rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  .closeButton{
    cursor: pointer;
    img{
      width: 50px;
      float: right;
    }
  }
  textarea {
    resize: none;
    font-family: "roboto";
  }

  .form {


    :focus {
      outline: none;
    }
    .form a{
      outline: none;
    }
    .titles{
      left: 20%;
      position: relative;
      width: 400px;
      margin-bottom: 50px;
      text-align: center;
      transform: translateX(-50%);
      font-family: $text-font;
      display: flex;
      align-items: center;


      hr {

        background: $title;
        height: 5px;
        width: 50px;
        margin-right: 25px;
        border: none;
        display: block;
      }

      h2 {
        font-size: $title-size;
        display: block;
        color: $title;
      }


    }
    .container {
      width: 66%;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;

      .form_contact {
        width: 495px;
        border: 3px solid;
        border-color: #00d991;
        background-color: #fff;
        height: 725px;
        padding: 30px;

        input {
          width: 90%;
        }

        h3{
          font-family: $text-font;
          color: #757575;
          text-align: center;
        }

        h4 {
          font-size: 11.5px;
          font-family: "roboto";
          font-weight: 100;
          color: #757575;
          margin-bottom: 20px;
          width: 50px;
        }
        .number {
          width: 80%;
          display: flex;
          align-content: flex-end;
          justify-content: space-between;
          flex-wrap: wrap;

          input{
            width: 100%;
          }

          h4 {
            font-size: 11.5px;
            font-family: "roboto";
            font-weight: 100;
            color: #757575;
            width: 100%;
            border: none;
            margin-top: -5px;

          }
        }
        .form-group_number{

          input{
            width: 32%;
          }
        }

        .checkbox {
          width: 100%;
          margin-top: 30px;
          margin-bottom: 30px;

          .contain {
            width: 90%;
            display: flex;
            justify-content: space-between;

            input[type="checkbox"]{
              height: 11px;
              width: 11px;
              border: none;
            }
            span {
              font-size: 10px;
              font-family: 'roboto';
            }

            .form-group {
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              justify-content: space-between;

              input {
                width: 25px;
              }
            }
          }
        }
      }

      .form-label {
        font-size: 12px;
        color: #5e9bfc;
        line-height: 30px;
        margin: 0;
        display: block;
        opacity: 1;
        -webkit-transition: 0.333s ease top, 0.333s ease opacity;
        transition: 0.333s ease top, 0.333s ease opacity;
      }

      .form-control {
        border-radius: 0;
        border-color: #ccc;
        border-width: 0 0 1px 0;
        border-style: none none solid none;
        box-shadow: none;
      }

      .form-control:focus {
        box-shadow: none;
        border-color: #5e9bfc;
      }

      .js-hide-label {
        opacity: 0;
      }

      .js-unhighlight-label {
        color: red;
      }

      .btn-start-order {
        background: 0 0 #ffffff;
        border: 1px solid $darkgrey;
        color: $darkgrey;
        font-family: "roboto";
        font-size: 14px;
        line-height: inherit;
        margin: 10px 0;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: all 0.25s ease 0s;

      }

      .btn-start-order:active,
      .btn-start-order:focus,
      .btn-start-order:hover {
        border-color: #5e9bfc;
        color: #5e9bfc;
      }
      .msg textarea{
        width: 90%;
        height: 100px;
        border: 1px solid $title;
      }

      // .right {
      //   width: 45%;
      //   img{
      //     width: 500px;
      //   }
      // }
    }
  }
}
@media (max-width: 576px) {

  .closeButton{
    cursor: pointer;
    img{
      width: 25px;
      float: right;
    }
  }
}*/
