@import "../modules/variables";
@import "../base/base";

.nav {
  padding: 10px;

  img {
    padding-left: 20px;
  }
}

.header {
  height: 900px;
  width: 1440px;
  background-image: url("/../../images/Becentral.jpg");

  h1 {
    font-size: $header-title-size;
    font-family: $text-font;
    flex-wrap: wrap;
  }

  button {
    width: 202px;
    height: 54px;
    background-color: $title;
    color: #fff;
    border: none;
  }
}
