@import "../modules/variables";
@import "../base/base";

.join_us {
  .container {
    display: flex;
    flex-direction: column;
  }
  .subTitle {
    @extend .title;
    z-index: 5;
    display: block;
    margin: 0 auto;
  }
  .section_title {
    @extend .section_title_style;
  }
  #items-list {
    display: none;
    margin-top: 50px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    .item {
      display: flex;
      align-items: center;
      height: 80px;
      position: relative;
      margin-bottom: 20px;
      background: #FFFFFF;
      border: 0.25px solid #f3f3f3;
      border-right: white;
      box-sizing: border-box;
      flex: 1;
      align-content: flex-start;
      .join_us_icons {
        width: 20px;
        height: auto;
        justify-content: flex-start;
        margin-right: 20px;
        float: left;
        margin-left: 15px;
      }
      .item-text {
        h3 {
          color: $darkgrey;
        
        }
      }
      .green-line {
        background: rgba(0, 217, 145, 0.4);
        position: absolute;
        right: 0;
        width: 4px;
        height: 100%;
        z-index: 5;
      }
    }
  }
}

@media (min-width: 576px) {
  .join_us {
    #items-list {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .join_us {
    margin-top: 150px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      position: relative;
      max-width: 900px;
      margin: 0 auto;
      .subTitle {
        margin: 0;
      }
      .subContainer {
        display: flex;
        max-width: 950px;
        .bg {
          position: absolute;
          max-width: 850px;
          top: 20px;
          right: -10px;
          width: 45%;
          height: 340px;
          background: $ligthgrey;
          z-index: -5;
        }
        .paragraphe {
          margin-top: 20px;
          flex: 1;
        }
        #items-list {
          margin-top: -50px;
          margin-left: 50px;
          flex: 1;
          display: grid;
          grid-template-columns: 168px 168px;
          grid-column-gap: 40px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .join_us {
    .container {
      .subContainer {
        .item {

        }
      }
    }
  }
}
