@import "../modules/variables";
@import "../base/base";

.main-nav {
  .container {
    display: none;
    ul {
      #news {
      }
    }
    img{
      width: 30px;
      height: 35px;
    }
  }
}

@media (min-width: 576px) {
  .main-nav {
    margin: 0 auto;
    position: fixed;
    z-index: 50;
    width: 100%;
    background: #333333;
    align-items: center;
    display: flex;
    height: 65px;
    .container {
      width: 98%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        font-family: $nav-font;
        color: white;
        display: flex;
        list-style: none;
        width: 700px;
        justify-content: space-between;
        #news {
          color: $title;
        }
        li{
          a{
            text-decoration: none;
            &:visited{
              color: white;
            }
          }
        }
      }
    }
  }
}
