@import "../modules/variables";
@import "../base/base";

@media (max-width: 768px) {
  #ham{
    position: fixed;
    z-index: 50;
  }
  .main-mobile-nav {
    flex-direction: column;
    margin: 0 auto;
    left: -100%;
    position: fixed;
    z-index: 50;
    width: 100%;
    background: #333333;
    align-items: center;
    display: flex;
    height: 100%;
    .container {
      width: 98%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        font-family: $nav-font;
        color: white;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 700px;
        justify-content: space-between;
        li {
          margin-top: 30px;
          a {
            text-decoration: none;
            &:visited {
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-mobile-nav {
    display: none;
  }

  #ham {
    display: none;
  }
}



