@import "../modules/variables";
@import "../base/base";
.rooms {
  position: relative;
  font-family: $text-font;
  .subTitle {
    @extend .title;
    z-index: 5;
  }
  .room_box {
    display: none;
  }
  .green_overlay {
    display: none;
    background-color: $title;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .img_container_room {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 992px) {
  .rooms {
    .container {
      overflow: hidden;
      display: flex;
      width: 100%;
      height: 100vh;
      .left {
        display: block;
        position: relative;
        width: 40%;
        .description {
          margin-left: 65px;
          margin-top: 65px;
          padding-right: 20px;
          .paragraphe {
            margin-left: 75px;
            margin-top: 50px;
            line-height: $txt-lh;
            font-size: $text-font;
            max-width: 360px;
            overflow: hidden;
            .float {
              min-width: 400px;
            }
          }
          .btn {
            margin-left: 75px;
            margin-top: 42px;
            border: 1px solid $title;
            width: 100px;
            color: $title;
            padding: 10px;
          }
        }
        .specs {
          width: 90%;
          height: 166px;
          position: absolute;
          bottom: 0;
          background: $ligthgrey;
          padding: 30px 30px 30px 65px;
          .content {
            display: flex;
            ul {
              list-style: none;
              li {
                margin-bottom: 42px;
              }
            }
            .values {
              margin-left: 50px;
              color: $title;
              font-weight: 400;
            }
          }
        }
      }
      .right {
        width: 60%;
        position: relative;
        overflow: hidden;
        background-color: $purple;
        .shaddow {
          display: none;
        }
        .rooms_list {
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          top: 20px;
          width: 550px;
          display: flex;
          color: #F2F2F2;
          font-weight: 400;
          font-size: 22px;
          list-style: none;
          justify-content: space-between;
          z-index: 7;
          li {
            text-align: right;
            margin-bottom: 20px;
            cursor: pointer;
          }
        }
        .room_box {
          display: block;
          background: rgba(0, 217, 145, 0.81);
          width: 204px;
          height: 165px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 10;
          .name {
            width: 350px;
            position: absolute;
            line-height: 84px;
            font-size: 45px;
            word-break: normal;
            color: white;
            top: 40px;
            left: 60px;
            z-index: 100;
          }
        } // .grey_overlay{
        //   display: block;
        //   background:grey;
        //   width: 204px;
        //   height: 165px;
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        // }
      }
    }
  }
}


  .container{
    .left{
      display: none;
    }
    .right{
      width: 100%;
      position: relative;
      overflow: hidden;
      .rooms_list{
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        top: 20px;
        width: 550px;
        display: flex;
        color: #F2F2F2;
        font-weight: 400;
        font-size: 22px;
        list-style: none;
        justify-content: space-between;
        z-index: 7;
        li {
          text-align: right;
          margin-bottom: 20px;
          cursor: pointer;
          }
        }
        .room_box {
          display: block;
          background: rgba(0, 217, 145, 0.81);
          width: 50px;
          height: 40px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 10;
          .name {
            width: 350px;
            position: absolute;
            line-height: 84px;
            font-size: 16px;
            word-break: normal;
            color: white;
            top: -25px;
            left: 6px;
            z-index: 100;
          }
        }
      .img_container_room{
        position: relative;
      }
    }
  }
