.space{
    margin-top: 145px;
}
.thumbnail{
    
    width: 220px;
    height: 220px;
    border: 1px solid black;
  
    
}
.thumbnail-large{
    width: 440px;
    height: 220px;
    border: 1px solid black;
    margin-left: -20px;
}

@media screen and (max-width:900px){
    .details{
        display: block;
        float:left;
    }
}